.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.class-header{
  width: 52%;
  height: 150px;
  background: linear-gradient(
        70deg,
        rgb(117, 115, 241),
        rgb(173, 171, 248),
        rgb(208, 207, 248)
      );
  border-radius: 10px;

  text-align: center;
  margin: 1% auto 2px auto;
  font-size: 28px;
  color: blue;

}

.class-users-list{
  text-align: center;
  margin: auto 30% auto 30%;
}